ANDROID_KEYSTORE_BASE64=
ANDROID_KEYSTORE_PASSWORD=
ANDROID_KEY_ALIAS=
ANDROID_KEY_PASSWORD=
GOOGLE_ANDROID_CLIENT_ID=
GOOGLE_PLAY_SERVICE_ACCOUNT_JSON=
GOOGLE_WEB_CLIENT_ID=
TASTILE_CORE_URL=
WEB_BASE_URL=
